.main {
    display: flex;
    flex: 100%;
    flex-direction: column;
    height: 80vh;
    width: 100%;
  }
  .btn-face-goo{
    text-align: left;
  }
  
  .login-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  

  
  .login-btn button {
    line-height: 1 !important;
  }
  .btn-primary-mn {
    background-color:#286B87;
    color:white;
    width: 300px;
    height: 42px;
    padding-bottom: 10px;
  }
  .btn-face-goo{
    /* background-color:#286B87; */
    margin: 5px 0;
    width: 300px;
    height: 42px;
  
  }
.login-container-goo{
    width:80%;
    text-align: center;
    top: 40px;
    margin: 20px auto;
}